<main>
  <h1>Create</h1>
  <div class="form">
    
    <form action="/superhero/create" method="POST">
      {{#if error}}
        <div id="notifications">
          <p id="notification-message">{{error}}</p>
        </div>
      {{/if}}
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
      <label for="name">Superpower</label>
      <textarea id="superPower" name="superPower"></textarea>
      <label for="image">ImageUrl</label>
      <input type="text" id="image" name="imageUrl" />
      <label for="humility">Humility</label>
      <input type="text" id="humility" name="humilityScore">
        {{!-- <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option> --}}
      </input>
      <input type="submit" value="Create" />
    </form>
  </div>
</main>