<main>
  <h1>{{name}}</h1>
  <img class="superhero" src="{{imageUrl}}" />
  <div class="details">
    <p><span>Superpower: {{superPower}}</span>
    </p>
    <p><span>Humility score:</span>{{humilityScore}}</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>