<main>
  <h1>Superhero 1</h1>
  <img class="cube" src="../public/images/GWR-Superheroes-BATMAN.svg" />
  <div class="details">
    <p><span>Description:</span>
    </p>
    <p><span>Humility level:</span> 3</p>
    <a class="btn" href="/">Back</a>
  </div>
</main>