<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Cubicle</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/images/marvel-log.png"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><img class="logo" src="/images/marvel-log.png" /></li>
          <li><a href="/">Browse</a></li>
          <li><a href="/create">Add a Superhero</a></li>
        </ul>
      </header>
      <main>
        <h1>Superhero 1</h1>
        <img class="cube" src="../public/images/GWR-Superheroes-BATMAN.svg" />
        <div class="details">
          <p><span>Description:</span>
          </p>
          <p><span>Humility level:</span> 3</p>
          <a class="btn" href="/">Back</a>
        </div>
      </main>
    </div>
    <footer>@Superhero: Website for superheros and their humility</footer>
  </body>

</html>