<main>
  <h1>Browser</h1>
  <form action="" method="">
    <input type="text" class="search" name="search" placeholder="Search..." />
    <input
      type="number"
      name="from"
      class="humility"
      placeholder="Humility from..."
    />
    <span>-</span>
    <input
      type="number"
      name="to"
      class="humility"
      placeholder="Humility to..."
    />
    <input type="submit" value="search" />
  </form>
  <div class="superhero">
    <img class="superhero" src="/images/GWR-Superheroes-BATMAN.svg" />
    <p class="name">Superhero 1</p>
    <p><span>Humility level:</span> 3</p>
    <a class="btn" href="">Details</a>
  </div>
  <div class="superhero">
    <img class="superhero" src="/images/GWR-Superheroes-CAPTAIN-AMERICA.svg" />
    <p class="name">Superhero 2</p>
    <p><span>Humility level:</span> 6</p>
    <a class="btn" href="">Details</a>
  </div>
  <div class="superhero">
    <img class="superhero" src="/images/GWR-Superheroes-CAPTAIN-MARVEL.svg" />
    <p class="name">Superhero 3</p>
    <p><span>Humility level:</span> 1</p>
    <a class="btn" href="">Details</a>
  </div>
  <div class="superhero">
    <img class="superhero" src="/images/GWR-Superheroes-SUPERMAN.svg" />
    <p class="name">Superhero 4</p>
    <p><span>Humility level:</span> 3</p>
    <a class="btn" href="">Details</a>
  </div>

</main>