<main>
  <h1>Browser</h1>
  {{!-- <form action="" method="">
    <input type="text" class="search" name="search" placeholder="Search..." />
    <input
      type="number"
      name="from"
      class="humility"
      placeholder="Humility from..."
    />
    <span>-</span>
    <input
      type="number"
      name="to"
      class="humility"
      placeholder="Humility to..."
    />
    <input type="submit" value="search" />
  </form> --}}
  {{#each superheros}}
    {{>superheroCard}}
  {{/each}}
</main>