<div class="superhero">
  <img class="superhero" src="{{imageUrl}}" />
  <p class="superPower">{{name}}</p>
  <p><span>Humility score:</span> {{humilityScore}}</p>
  <a class="btn" href="/superhero/details/{{id}}">Details</a>
</div>