<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Superhero</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/images/marvel-log.png"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <li><img class="logo" src="/images/marvel-log.png" /></li>
          <li><a href="/">Browse</a></li>
          <li><a href="/superhero/create">Add a Superhero</a></li>
        </ul>
      </header>
      {{{body}}}
    </div>
    <footer>@Superhero: Website for superheros and their humility</footer>
  </body>

</html>